<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/cart-detail.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../lib/fontawesome-free-6.1.1/css/all.min.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
    </style>
    <title>Cây Cảnh Phan Cường</title>
    <link rel="icon" type="image/x-icon" href="/images/title_logo.png">
</head>

<body ng-app="shoppingCart" ng-controller="shoppingCart-ctrl">
    <div class="wrapper" id="top">
        <header>
            <div th:replace="user/layout/_menu.html"></div>
        </header>
    </div>
    <div class="cart_detail_area" ng-controller="wishlist-ctrl">
    <input id="user_id" type="hidden" th:value="|${user_id}|"></input>
        <div class="container">
            <form>
                <div class="row">
                    <div class="col-12">
                        <div class="form_cart_wrap">
                            <div class="table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="product_remove">Xoá</th>
                                            <th class="product_thumb">Ảnh</th>
                                            <th class="product_name">Sản phẩm</th>
                                            <th class="product-price">Trạng thái</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in pager.items">
                                            <td class="product_remove" ng-click="delete(item.id)"><a href=""><svg
                                                        xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                        fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                        <path
                                                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z">
                                                        </path>
                                                        <path fill-rule="evenodd"
                                                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z">
                                                        </path>
                                                    </svg></a>
                                            </td>
                                            <td class="product_thumb"><a href="/product/{{item.url}}"><img src="/img/product/{{item.image}}" alt="{{item.image}}"></a></td>
                                            <td class="product_name"><a href="/product/{{item.url}}">{{item.name}}</a></td>
                                            <td class="product-status" ng-if="item.status">Còn hàng</td>
                                            <td class="product-status" ng-if="!item.status">Tạm ngừng bán</td>
                                        </tr>
                                    </tbody>
                                    
                                </table>
                                <nav ng-if="items.length > 5" class="align-center mt-2" aria-label="Page navigation example ">			<!-- Page product -->
									<ul class="pagination justify-content-center">
										<li class="page-item"><a ng-click="pager.first()" class="page-link"> |< </a></li>
										<li class="page-item"><a ng-click="pager.prev()" class="page-link"> < </a></li>
										<li class="page-item -success"><a class="page-link" style="width: 80px; color: white; background: #79A206; text-align: center;">
											{{pager.page + 1}} / {{pager.count}}</a>
										</li>
										<li class="page-item"><a ng-click="pager.next()" class="page-link"> > </a></li>
										<li class="page-item"><a ng-click="pager.last()" class="page-link"> >| </a></li>
									</ul>
								</nav>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    
 	<div th:replace="user/layout/_script.html"></div>
</body>
</html>