<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/cart-detail.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../lib/fontawesome-free-6.1.1/css/all.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
    </style>
</head>

<body ng-app="shoppingCart" ng-controller="shoppingCart-ctrl">
    <div class="wrapper" id="top">
        <header>
            <div th:replace="user/layout/_menu.html"></div>
        </header>
    </div>
    <div class="cart_detail_area">
        <div class="container">
            <form action="">
                <div class="row">
                    <div class="col-12">
                        <div class="form_cart_wrap">
                            <div class="table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="product_remove">#</th>
                                            <th class="product_thumb">Ảnh</th>
                                            <th class="product_name">Tên sản phẩm</th>
                                            <th class="product-price">Giá</th>
                                            <th class="product_quantity">Số lượng</th>
                                            <th class="product_total">Tổng tiền</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in cart.items">
                                            <td class="product_remove"><a ng-click="cart.remove(item.id, item.idSize)"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                    fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path
                                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                                <path fill-rule="evenodd"
                                                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                            </svg></a>
                                            </td>
                                            <td class="product_thumb"><a href="/product/{{item.url}}"><img src="../img/product/{{item.image}}" alt=""></a></td>
                                            <td class="product_name"><a href="/product/{{item.url}}">{{item.name}}</a></td>
                                            <td class="product-price"><span ng-if="item.price">
													{{item.price | vndFilter}}
												</span></td>
                                            <td class="product_quantity"><label>Số lượng</label> <input type="number" min="1" ng-model="item.qty" ng-change="cart.saveToLocalStorage()"></td>
                                            <td class="product_total"><span ng-if="item.price" class="price_item">
													{{item.price * item.qty | vndFilter}}
												</span>
                                                <span ng-if="!item.price" class="price_item">
													{{item.priceSize * item.qty | vndFilter}}
												</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
<!--                            <div class="cart_submit">-->
<!--                                <button type="button">Cập nhập giỏ hàng</button>-->
<!--                            </div>-->
                        </div>

                    </div>
                </div>
            </form>
            <div class="coupon_area">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="coupon_code">
                            <form action="/coupon">
                                <h3>COUPON</h3>
                                <div class="coupon_inner">
                                    <p>Nhập mã giảm giá tại đây</p>
                                    <input type="text" name="code" placeholder="Coupon code">
                                    <button type="submit" >APPLY</button>
                                    <br>
                                    <span>[[${message}]]</span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="coupon_code">
                            <h3>Tổng tiền giỏ hàng</h3>
                            <div class="coupon_inner">
                                <div class="cart_subtotal">
                                    <p>Tổng tiền dự tính</p>
                                    <p class="cart_amount" >{{cart.amount |
                                        vndFilter}}</p>
                                </div>
                                <div class="cart_subtotal">
                                    <p>Giảm giá</p>
                                    <p class="cart_amount" id="saleP">[[${sale}]]%</p>
                                </div>
                                <hr>
                                <div class="cart_subtotal">
                                    <p>Tổng tiền cần phải trả</p>
                                    <p class="cart_amount">{{cart.amount -( cart.amount* (CouponSale/100)) |
                                        vndFilter}}</p>
                                </div>
                                <div class="checkout_btn">
                                    <a href="">Thanh toán</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div th:replace="user/layout/_script.html"></div>
</body>

</html>