<div class="pagetitle row">
  <div class="col-4">
    <h1 class="fw-bolder">Quản lý sản phẩm</h1>
  </div>
  <div class="search-bar col-8">
    <div class="search-form d-flex align-items-center" method="POST" action="#">
      <input type="text" id="key__word" name="query" placeholder="Tìm kiếm sản phẩm" title="Nhập từ khoá" ng-change="find()" ng-model="myModel"/>
      <button type="submit" title="Search" ng-click="find()">
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div>
</div><!-- End Page Title -->
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" data-target="#list" href="">Danh sách </a></li>
  <li><a data-toggle="tab" data-target="#edit" href="">Chỉnh sửa</a></li>
</ul>
<div class="tab-content">
  <div id="list" class="tab-pane fade in active show">
    <div ng-include="'../admin/products/table_product.html'"></div>
  </div>
  <div id="edit" class="tab-pane fade in ">
    <div ng-include="'../admin/products/form_product.html'"></div>
  </div>
</div>

