<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Danh sách sản phẩm</h5>
                    <!-- Table with stripped rows -->
                    <table class="table table-striped text-center">
                        <thead>
                            <tr>
<!--                                <th scope="col">#Id</th>-->
                                <th scope="col">Ảnh</th>
                                <th scope="col">Tên</th>
                                <th scope="col">Giá (VNĐ)</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Ngày tạo</th>
                                <th scope="col">Ngày cập nhập</th>
                                <th scope="col">Chi tiết</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr class="tr_products" ng-repeat="item in pager.products">
<!--                                <th scope="row" class="td_height">{{item.id}}</th>-->
                                <td class="td_height"><img ng-src="{{'../img/product/' + item.image}}" alt=""></td>
                                <td class="td_height">{{item.name}}</td>
                                <td class="td_height">{{item.price}}</td>
                                <td class="td_height">{{item.quantity}}</td>
                                <td class="td_height">{{item.createdDate | date: 'dd-MM-yyyy'}}</td>
                                <td class="td_height">{{item.updatedDate | date: 'dd-MM-yyyy'}}</td>
                                <td>
                                    <div class="quick_view"><i class="bi bi-eye"></i><button ng-click="edit(item)">Xem</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer text-center">
        <button ng-click="pager.first()" class="btn"><i class="bi bi-arrow-bar-left"></i></button>
        <button ng-click="pager.prev()" class="btn"><i class="bi bi-arrow-left-short"></i></button>
        <button class="btn">{{pager.page +1}} of {{pager.count}}</button>
        <button ng-click="pager.next()" class="btn"><i class="bi bi-arrow-right-short"></i></button>
        <button ng-click="pager.last()" class="btn"><i class="bi bi-arrow-bar-right"></i></button>
    </div>
</section>