<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="/lib/fontawesome-free-6.1.1/css/all.min.css">
<link rel="stylesheet" href="/css/my-account.css">
<link rel="stylesheet" href="/css/style.css">
<title>Document</title>
</head>

<body ng-app="shoppingCart" ng-controller="shoppingCart-ctrl">
	<div class="wrapper" id="top">
		<header>
			<div th:replace="user/layout/_menu.html"></div>
		</header>
	</div>
	<div class="container p-5">
		<div class="d-flex align-items-start" ng-controller="profile-ctrl">
			<div class="nav flex-column nav-pills me-3" id="v-pills-tab"
				role="tablist" aria-orientation="vertical">
				<button class="nav-link active" id="v-pills-home-tab"
					data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button"
					role="tab" aria-controls="v-pills-home" aria-selected="true">Orders</button>
				<button class="nav-link" id="v-pills-profile-tab"
					data-bs-toggle="pill" data-bs-target="#v-pills-profile"
					type="button" role="tab" aria-controls="v-pills-profile"
					aria-selected="false" ng-click="edit()">Account Details</button>
				<button class="nav-link" id="v-pills-pass-tab"
						data-bs-toggle="pill" data-bs-target="#v-pills-pass"
						type="button" role="tab" aria-controls="v-pills-pass"
						aria-selected="false" ng-click="edit_pass()">Change password</button>
			</div>
			<div class="tab-content" id="v-pills-tabContent" >
				<div class="tab-pane fade show active" id="v-pills-home"
					role="tabpanel" aria-labelledby="v-pills-home-tab">
					<div class="tab-pane fade active show" id="orders">
						<h3>Orders</h3>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>Order</th>
										<th>Date</th>
										<th>Status</th>
										<th>Total</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>May 10, 2018</td>
										<td><span class="success">Completed</span></td>
										<td>$25.00</td>
										<td><a href="#" class="view">view</a></td>
									</tr>
									<tr>
										<td>2</td>
										<td>May 10, 2018</td>
										<td>Processing</td>
										<td>$17.00</td>
										<td><a href="#" class="view">view</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
					aria-labelledby="v-pills-profile-tab" >
					<div class="tab-pane fade active show" id="account-details">
						<input id="user_id" type="hidden" th:value="|${user_id}|"></input>
						<h3>Account details</h3>
						<div class="login">
							<div class="login_form_container">
								<div class="account_login_form" >
									<form class="row" >
										<div class="col-6">
											<div class="container">

												<div class="preview">
                                                    <img id="img-preview" ng-src="{{'../img/avatar/' + form.avatar}}"
														 />
                                                    <label for="file-input">Upload Image</label>
                                                    <input type="file" id="file-input"
														   onchange="angular.element(this).scope().imageChanged(this.files)"/>
                                                </div>
											</div>
										</div>
										<div class="col-6">
											<!-- <p>
												Already have an account? <a href="#">Log in instead!</a>
											</p> -->
											<div class="input-radio">
												<span class="custom-radio" > <input
													type="radio" value="true" ng-model="form.gender" ng-checked="form.gender == true"
													name="gender"> Male <input type="radio" ng-model="form.gender"
													value="false" ng-checked="form.gender == false"
													name="gender"> Female
												</span>

											</div>
											<div class="form-floating" hidden>
												<input type="text" class="form-control"
													   id="floatingId"
													   ng-model="form.id" required disabled >
												<label for="floatingId" >ID</label>
											</div>
											<div class="form-floating">
												<input type="text" class="form-control"
													id="floatingFullname" placeholder="Fullname..."
													 ng-model="form.fullname"  required >
												<label for="floatingFullname" >Full name</label>
											</div>
											<div class="form-floating">
												<input type="text" class="form-control" id="floatingEmail"
													placeholder="Email" ng-model="form.email"  name="email"
													required> <label for="floatingEmail">Email</label>
											</div>
											<div class="form-floating">
												<input type="date" class="form-control" id="floatingBirth"
													placeholder="Birth"  ng-model="form.birthday"
													name="birthday" required> <label
													for="floatingBirth">Date of birth</label>
											</div>
											<div class="form-floating">
												<input type="text" class="form-control" id="floatingPhone"
													placeholder="Phone"  ng-model="form.phone" name="phone"
													required oninput="if(this.value.length > 10) this.value = this.value.slice(0, 10); this.value = this.value.replace(/[^0-9.]/g, '')"
												> <label for="floatingPhone">Phone</label>
											</div>
											<div class="form-floating">
												<input type="text" class="form-control" id="floatingAddress"
													placeholder="Address"  ng-model="form.address"
													name="address" required> <label
													for="floatingAddress">Address</label>
											</div>

											<div class="save_button primary_btn default_button">
												<button ng-click="save()" >Save</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="v-pills-pass" role="tabpanel"
					 aria-labelledby="v-pills-profile-tab" >
					<div class="tab-pane fade active show" id="account-details">
						<input id="user_id" type="hidden" th:value="|${user_id}|"></input>
						<h3>Change password</h3>
						<div class="login">
							<div class="login_form_container">
								<div class="account_login_form" >
									<form>
										<div class="row mb-3">
											<label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
											<div class="col-md-8 col-lg-9">
												<input name="password" type="password" class="form-control" id="currentPassword" min="1"  >
											</div>
										</div>

										<div class="row mb-3">
											<label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
											<div class="col-md-8 col-lg-9">
												<input name="newpassword" type="password" class="form-control"  id="newPassword" min="3" >
											</div>
										</div>

										<div class="row mb-3">
											<label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
											<div class="col-md-8 col-lg-9">
												<input name="renewpassword" type="password" class="form-control" id="renewPassword" min="3" >
											</div>
										</div>

										<div class="text-center">
											<button type="submit" class="btn btn-primary" ng-click="update()">Change Password</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/account-scrpit.js"></script>
	<div th:replace="user/layout/_script.html"></div>
</body>

</html>