<div>

    <h5 class="card-title">Thông tin cá nhân</h5>

    <div class="row">
        <div class="col-lg-3 col-md-4 label ">Họ và tên</div>
        <div class="col-lg-9 col-md-8" >
            <span >{{profile.fullname}}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 label">Giới tính</div>
        <div class="col-lg-9 col-md-8">
            <span ng-if="profile.gender == true">Nam</span>
            <span ng-if="profile.gender != true">Nữ</span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 label">Ngày sinh</div>
        <div class="col-lg-9 col-md-8">
            <span>{{profile.birthday | date:'dd/MM/yyyy'}}</span>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-3 col-md-4 label">Địa chỉ</div>
        <div class="col-lg-9 col-md-8">
            <span>{{profile.address}}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 label">Số điện thoại</div>
        <div class="col-lg-9 col-md-8">
            <span>{{profile.phone}}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 label">Email</div>
        <div class="col-lg-9 col-md-8">
            <span>{{profile.email}}</span>
        </div>
    </div>
</div>