<!-- Profile Edit Form -->
<form>
    <div class="row mb-3">
        <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Thông tin ảnh</label>
        <div class="col-md-8 col-lg-9">
            <img ng-src="{{'../img/avatar/' + form.avatar}}" alt="Profile">
            <div class="pt-2">
                <input type="file" id="file-input"
                       onchange="angular.element(this).scope().imageChanged(this.files)"/>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Họ và tên</label>
        <div class="col-md-8 col-lg-9">
            <input name="fullName" type="text" class="form-control" id="fullName" ng-model="form.fullname">
        </div>
    </div>

    <div class="row mb-3">
        <label for="gender" class="col-md-4 col-lg-3 col-form-label">Giới tính</label>
        <div class="col-md-8 col-lg-9" id="gender">
            <input type="radio" name="gender" ng-checked="form.gender == true" ng-model="form.gender" value="true"> Nam
            <input type="radio" name="gender" ng-checked="form.gender == false" ng-model="form.gender" value="false"> Nữ
        </div>
    </div>

    <div class="row mb-3">
        <label for="birthday" class="col-md-4 col-lg-3 col-form-label">Ngày sinh</label>
        <div class="col-md-8 col-lg-9">
            <input name="birthday" type="date" class="form-control" ng-model="form.birthday"  id="birthday" >
        </div>
    </div>

    <div class="row mb-3">
        <label for="Address" class="col-md-4 col-lg-3 col-form-label">Địa chỉ</label>
        <div class="col-md-8 col-lg-9">
            <input name="address" type="text" class="form-control" id="Address" ng-model="form.address">
        </div>
    </div>

    <div class="row mb-3">
        <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Số điện thoại</label>
        <div class="col-md-8 col-lg-9">
            <input name="phone" type="text" class="form-control" id="Phone" ng-model="form.phone">
        </div>
    </div>

    <div class="row mb-3">
        <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
        <div class="col-md-8 col-lg-9">
            <input name="email" type="email" class="form-control" id="Email" ng-model="form.email">
        </div>
    </div>



    <div class="text-center">
        <button type="submit" ng-click="save()" class="btn btn-primary">Lưu thông tin</button>
        <h3 style="color: red">{{message}}</h3>
    </div>
</form><!-- End Profile Edit Form -->
