<div class="panel panel-default p-5">
    <div class="panel-body">
        <div class="col-6 m-auto">
            <form>
                <div class="toast" id="toats" data-toggle="tooltip" >
                    <div class="toast-header">
                        <strong class="mr-auto text-primary">{{status}}</strong>
                        <small class="text-muted">{{form.update_date | date: 'dd-MM-yyyy hh:mm:ss'}}</small>
                        <button type="button" ng-click="hideToast()" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
                    </div>
                    <div class="toast-body">
                        {{message}}
                    </div>
                </div>
                <div class="row mb-3 p-3">
                    <label for="username" class="col-sm-4 col-form-label fw-bold">Tài khoản</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" disabled id="username" ng-model="form.username">
                    </div>
                </div>
                <div class="row mb-3 p-3">
                    <label for="password" class="col-sm-4 col-form-label fw-bold">Mật khẩu</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="password" ng-model="form.password">
                    </div>
                </div>
                <div class="row mb-3 p-3">
                    <label for="confirm" class="col-sm-4 col-form-label fw-bold">Xác nhận mật khẩu</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="confirm">
                    </div>
                </div>
                <div class="row mb-3 p-3">
                    <label for="createD" class="col-sm-4 col-form-label fw-bold">Ngày tạo</label>
                    <div class="col-sm-8">
                        <input type="date" class="form-control" disabled id="createD" ng-model="form.create_date">
                    </div>
                </div><div class="row mb-3 p-3">
                <label for="updateD" class="col-sm-4 col-form-label fw-bold">Ngày chỉnh sửa</label>
                <div class="col-sm-8">
                    <input type="date" disabled class="form-control" id="updateD" ng-model="form.update_date">
                </div>
            </div>
                <div class="text-center">
                    <button ng-click="update()" class="btn" type="button" id="liveToastBtn">
                        <b class="glyphicon glyphicon-save"></b> Cập nhập
                    </button>

                    <button ng-click="delete(form)" class="btn">
                        <b class="glyphicon glyphicon-trash"></b> Xoá
                    </button>
                    <button ng-click="clear()" class="btn">
                        <b class="glyphicon glyphicon-refresh"></b> Reset
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
