<div class="card">
  <div class="card-body">
      <h5 class="card-title">Chỉnh sửa</h5>

    <!-- Horizontal Form -->
    <form>
      <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Mã</label>
        <div class="col-sm-10">
          <input type="text" maxlength="20" minlength="8"  class="form-control" ng-model="form.code">
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Giá trị giảm giá</label>
        <div class="col-sm-10">
          <input type="number" min="0" max="100" class="form-control" ng-model="form.value">
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Số lượng</label>
        <div class="col-sm-10">
          <input type="number" min="0" max="100" class="form-control" ng-model="form.quantity">
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Ngày tạo</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" ng-model="form.createDate">
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Ngày kết thúc</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" ng-model="form.endDate">
        </div>
      </div>

      <div class="text-center">
        <button ng-click="create()" type="submit" class="btn btn-primary" ng-disabled="CrDisabled">Create</button>
        <button ng-click="update()" type="button" class="btn btn-primary">Update</button>
        <button ng-click="delete(form)" type="submit" class="btn btn-primary" ng-disabled="isDisabled">Delete</button>
        <button ng-click="clear()" class="btn btn-secondary">Reset</button>
      </div>
    </form><!-- End Horizontal Form -->

      <h3 style="color: red">{{message}}</h3>
  </div>
</div>