<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Thông tin mã giảm giá</h5>
                    <!-- Table with stripped rows -->
                    <table class="table table-striped text-center">
                        <thead>
                            <tr>
                                <th scope="col">Mã</th>
                                <th scope="col">Giá trị mã giảm giá</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Ngày tạo</th>
                                <th scope="col">Ngày kết thúc</th>
                                <th scope="col"></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr class="tr_products" ng-repeat="coupon in pager.coupons">
                                <th scope="row" class="td_height">{{coupon.code}}</th>
                                <td class="td_height">{{coupon.value}}</td>
                                <td class="td_height">{{coupon.quantity}}</td>
                                <td class="td_height">{{coupon.createDate | date: 'dd-MM-yyyy'}}</td>
                                <td class="td_height">{{coupon.endDate | date: 'dd-MM-yyyy'}}</td>
                                <td>
                                    <div class="quick_view"><i class="bi bi-eye"></i><button ng-click="edit(coupon)">Chỉnh sửa</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer text-center">
        <button ng-click="pager.first()" class="btn"><i class="bi bi-arrow-bar-left"></i></button>
        <button ng-click="pager.prev()" class="btn"><i class="bi bi-arrow-left-short"></i></button>
        <button class="btn">{{pager.page +1}} of {{pager.count}}</button>
        <button ng-click="pager.next()" class="btn"><i class="bi bi-arrow-right-short"></i></button>
        <button ng-click="pager.last()" class="btn"><i class="bi bi-arrow-bar-right"></i></button>
    </div>
</section>