<section class="section">
  <div class="row">
    <div class="">

      <div class="card">
        <div class="card-body">
<!--          <h5 class="card-title">Profile</h5>-->
          <div>
            <table class="table">
              <thead>
              <tr>
<!--                <th> ID</th>-->
                <th>Họ tên</th>
                <th>Ảnh</th>
                <th>Giới tính</th>
                <th>Ngày sinh</th>
                <th>Email</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ</th>
				<th></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="item in items">
<!--                <td>{{item.id}}</td>-->
                <td>{{item.fullname}}</td>
                <td><img ng-src="{{'../img/avatar/' + item.avatar}}" class="size-img" alt="No Image"></td>
                <td>{{item.gender?'Nam':'Nữ'}}</td>
                <td>{{item.birthday}}</td>
                <td>{{item.email}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.address}}</td>

                <td>
                  <div class="quick_view"><i class="bi bi-eye"></i><button ng-click="edit(item)">Xem</button></div>
                </td>

              </tr>
              </tbody>
            </table>
          </div>


        </div>
      </div>

    </div>
  </div>

</section>