  <div class="featured__left col-xl-2 col-lg-2 col-md-12 col-12">
  				<form id="bwp_form_filter_product" action="/products_filter" method="post">
                    <div class="bwp-sidebar sidebar-product">
                        <h2 class="filters_products_price">Giá</h2>
                            <div class="bwp-filter bwp-filter-category">
                                <div id="pa_category" class="filter_category_product">
                                    <div data-id_category="5" class="item-category "><label class="name">
                                            Nhỏ hơn 100,000 VND</label>
                                        <div class="count"><input type="radio" name="count" id="filter" value="0 100000" onclick="submitForm()"></div>
                                    </div>
                                    <div data-id_category="510" class="item-category "><label class="name">
                                    		100,000 - 300,000 VND</label>
                                        <div class="count"><input type="radio" name="count" id="filter" value="100000 300000" onclick="submitForm()"></div>
                                    </div>
                                    <div data-id_category="1030" class="item-category "><label class="name">
                                    		300,000 - 500,000 VND</label>
                                        <div class="count"><input type="radio" name="count" id="filter" value="300000 500000" onclick="submitForm()"></div>
                                    </div>
                                    <div data-id_category="50" class="item-category "><label class="name">
                                            Lớn hơn 500,000 VND</label>
                                        <div class="count"><input type="radio" name="count" id="filter" value="500000 100000000" onclick="submitForm()"></div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="bwp-sidebar sidebar-product" hidden="">
                        <h2 class="filters_products_price">Kích cỡ</h2>
                            <div class="bwp-filter bwp-filter-category">
                                <div id="pa_category" class="filter_category_product">
                                    <div data-id_category="5" class="item-category "><label class="name">
                                            Nhỏ hơn 500,000</label>
                                        <div class="count"><input type="radio" name="count" id="filter" value="0 500000" onclick="submitForm()"></div>
                                    </div>
                                    <div data-id_category="510" class="item-category "><label class="name">
                                    		500,000 - 1,000,000</label>
                                        <div class="count"><input type="radio" name="count" id="filter" value="500000 1000000" onclick="submitForm()"></div>
                                    </div>
                                    <div data-id_category="1030" class="item-category "><label class="name">
                                    		1,000,000 - 3,000,000</label>
                                        <div class="count"><input type="radio" name="count" id="filter" value="1000000 3000000" onclick="submitForm()"></div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="bwp-sidebar sidebar-product">
                        <h2 class="filters_products_price">Đánh giá</h2>
                            <div class="bwp-filter bwp-filter-category">
                                <div id="pa_category" class="filter_category_product">
                                    <div class="shop-filters__stars">
                                        <div class="starts">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div class="check_5rate"><input type="radio" name="check_rate" id=""></div>
                                    </div>
                                    <div class="shop-filters__stars">
                                        <div class="starts">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star start-white"></i>
                                        </div>
                                        <div class="check_4rate"><input type="radio" name="check_rate" id=""></div>
                                    </div>
                                    <div class="shop-filters__stars">
                                        <div class="starts">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star start-white"></i>
                                            <i class="fas fa-star start-white"></i>
                                        </div>
                                        <div class="check_3rate"><input type="radio" name="check_rate" id=""></div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <button class="btn" id="btn-filter" type="submit">Lọc</button>
                </form>
                </div>