  <div class="featured__left col-xl-2 col-lg-2 col-md-12 col-12">
                    <div class="bwp-sidebar sidebar-product">
                        <h2 class="filters_products_price">Price</h2>
                        <form id="bwp_form_filter_product" action="/products_filter" method="post">
                            <div class="bwp-filter bwp-filter-category">
                                <div id="pa_category" class="filter_category_product">
                                    <div data-id_category="5" class="item-category "><label class="name">
                                            $50 Or Less</label>
                                        <div class="count"><input type="radio" name="count" id="filter" value="0 50" onclick="submitForm()"></div>
                                    </div>
                                    <div data-id_category="510" class="item-category "><label class="name">$50 to
                                            $100</label>
                                        <div class="count"><input type="radio" name="count" id="filter" value="50 100" onclick="submitForm()"></div>
                                    </div>
                                    <div data-id_category="1030" class="item-category "><label class="name">$100 to
                                            $300</label>
                                        <div class="count"><input type="radio" name="count" id="filter" value="100 300" onclick="submitForm()"></div>
                                    </div>
                                    <div data-id_category="30" class="item-category "><label class="name">Above
                                            $300</label>
                                        <div class="count"><input type="radio" name="count" id="filter" value="300 3000" onclick="submitForm()"></div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn" id="btn-filter" type="submit">Filter</button>
                        </form>
                    </div>
                    <div class="bwp-sidebar sidebar-product">
                        <h2 class="filters_products_price">Rate</h2>
                        <form id="bwp_form_filter_product">
                            <div class="bwp-filter bwp-filter-category">
                                <div id="pa_category" class="filter_category_product">
                                    <div class="shop-filters__stars">
                                        <div class="starts">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div class="check_5rate"><input type="radio" name="check_rate" id=""></div>
                                    </div>
                                    <div class="shop-filters__stars">
                                        <div class="starts">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star start-white"></i>
                                        </div>
                                        <div class="check_4rate"><input type="radio" name="check_rate" id=""></div>
                                    </div>
                                    <div class="shop-filters__stars">
                                        <div class="starts">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star start-white"></i>
                                            <i class="fas fa-star start-white"></i>
                                        </div>
                                        <div class="check_3rate"><input type="radio" name="check_rate" id=""></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>