<div  ng-controller="wishlist-ctrl" class="row featured__right col-xl-10 col-lg-10 col-md-12 col-12" id="product__items">
	<div class="col-lg-4 col-md-4 col-sm-6 mix" th:each="p:${items}">
		<div class="featured__item">
			<div class="featured__item__pic set-bg"
				data-setbg="img/featured/feature-1.jpg">
				<a th:href="@{|/product/detail/${p.url}|}"><img  alt="" th:src="@{|/img/product/${p.image}|}"></a>

				<ul class="featured__item__pic__hover">
					<li><a class="popup-btn"><i class="fa fa-retweet"></i></a></li>
				</ul>
			</div>
			<div class="featured__item__text">
				<h6>
					<a href="#">[[${p.name}]]</a>
				</h6>
				<h5>$ [[${p.price}]]</h5>

			</div>
		</div>
		<div class="popup-view">
			<div class="popup-card">
				<a><i class="fas fa-times close-btn"></i></a>
				<div class="product-featured-image">
					<img th:src="@{|/img/product/${p.image}|}" alt="">
				</div>
				<div class="info">
					<h2>[[${p.name}]]</h2>
					<p>[[${p.description}]]</p>
					<span class="price">$ [[${p.price}]]</span>
					<div class="products-size">
						<label for=""><strong>Size</strong></label>
						<div class="size-swap">
							<div class="n-sd size_item" data-value="s">
								<input type="radio" class="size_radio" id="size_s" name="option"
									value="S"> S
							</div>
							<div class="n-sd size_item" data-value="l">
								<input type="radio" class="size_radio" id="size_l" name="option"
									value="L"> L
							</div>
							<div class="n-sd size_item" data-value="xl">
								<input type="radio" class="size_radio" id="size_xl"
									name="option" value="XL"> XL
							</div>
						</div>
					</div>
					<a th:attr="ng-click=@{|cart.add(${p.id})|}" class="add-cart-btn">ADD TO CART</a> aa
					<a th:attr="ng-click=@{|insert(${p.id})|}" class="add-wish">ADD TO WISHLIST</a>
				</div>
			</div>
		</div>
	</div>
</div>