<div class="main-header" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<div class="header-top">
		<div class="container-fluid">
			<div class="row align-items-center">
				<div class="col-lg-3 col-md-3 col-4">
					<div class="logo">
						<a href="/home/index"><img src="/images/logo.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-9 col-md-6 col-6">
					<div class="header_right_info">
						<div class="search_container">
							<div class="search_box">
								<form action="/product/search" method="get">
									<input placeholder="Tìm kiếm sản phẩm..." type="text" id="keyword" name="keyword">
									<button type="submit">
										<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
											fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
											<path
												d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
										</svg>
									</button>
								</form>
							</div>
						</div>
						<div class="header_account_area">
							<div class="header_account-list top_links">
								<a th:if="!${#request.remoteUser}" href="/login/form"><svg
										xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
										class="bi bi-people" viewBox="0 0 16 16">
										<path
											d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z" />
									</svg></a>

							</div>

							<div class="header_account-list header_wishlist">
								<a href="/wishlist"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
										fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
										<path
											d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
									</svg></a>
							</div>
							<div class="header_account-list  mini_cart_wrapper">
								<a href=""><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
										fill="currentColor" class="bi bi-bag-check" viewBox="0 0 16 16">
										<path fill-rule="evenodd"
											d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
										<path
											d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
									</svg><span class="item_count">{{cart.count}}</span></a>

							</div>
							<div class="mini_cart" id="mini_cart">
								<div class="cart_gallery">
									<div class="cart_close">
										<div class="cart_text">
											<h3>Giỏ hàng</h3>
										</div>
										<div class="mini_cart_close" id="mini_cart_close">
											<a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
													fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
													<path
														d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
													<path
														d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
												</svg></a>
										</div>
									</div>
									<div class="cart_item" ng-repeat="item in cart.items">
										<div class="cart_img">
											<a href="/product/{{item.url}}"><img src="../img/product/{{item.image}}"
													alt=""></a>
										</div>
										<div class="cart_info">
											<a href="/product/{{item.url}}">{{item.name}}<span
													ng-if="item.idSize">({{item.idSize}})</span></a>
											<p>
												Số lượng:
												<input type="number" min="1" ng-model="item.qty"
													ng-change="cart.saveToLocalStorage()"> <br>
												Giá:
												<span ng-if="item.price" class="price_item">
													{{item.price | vndFilter}}
												</span>
												<span ng-if="!item.price" class="price_item">
													{{item.priceSize | vndFilter}}
												</span> <br>
												Tổng:
												<span ng-if="item.price" class="price_item">
													{{item.price * item.qty | vndFilter}}
												</span>
												<span ng-if="!item.price" class="price_item">
													{{item.priceSize * item.qty | vndFilter}}
												</span>
											</p>
										</div>
										<div class="cart_remove">
											<a ng-click="cart.remove(item.id, item.idSize)"><svg
													xmlns="http://www.w3.org/2000/svg" width="20" height="20"
													fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
													<path
														d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
													<path fill-rule="evenodd"
														d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
												</svg></a>
										</div>
									</div>
								</div>
								<div class="mini_cart_table">
									<div class="cart_table_border">
										<div class="cart_total">
											<span>Tổng tiền dự đoán:</span> <span class="price">{{cart.amount |
												vndFilter}}</span>
										</div>
										<div class="cart_total mt-10">
											<span>Tổng tiền:</span> <span class="price">{{cart.amount |
												vndFilter}}</span>
										</div>
									</div>
								</div>
								<div class="mini_cart_footer">
									<div class="cart_button">
										<a href="../cart/detail"><i class="fa fa-shopping-cart"></i>
											Xem giỏ hàng</a>
									</div>
									<div class="cart_button">
										<a class="active" href="checkout.html"><i class="fa fa-sign-in"></i> Kiểm tra
											giỏ hàng</a>
									</div>
									<div class="cart_button mt-3">
										<a ng-click="cart.clear()"><i class="fa fa-sign-in"></i>
											Xoá giỏ hàng</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header_bottom sticky-header">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-3">
					<div class="categories_menu">
						<div class="categories_title">
							<i class="fas fa-bars"></i>
							<h2 class="categori_toggle">Danh mục</h2>
						</div>
						<!-- <div class="icon-categori_toggle"></div> -->
						<input type="checkbox" class="nav-input d-none" id="nav-res-input">
						<label for="nav-res-input" class="checkbtn"> <i class="fas fa-bars"></i>
						</label> <label for="nav-res-input" class="nav-overlay" target=""></label>
						<div class="main_menu_res">
							<div class="search_box_res">
								<form action="" method="get">
									<input placeholder="Tìm kiếm sản phẩm..." type="text">
									<button type="submit">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
											fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
											<path
												d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
										</svg>
									</button>
								</form>
							</div>

							<nav>
								<ul class="offcanvas_main_menu">
									<div class="canvas_close">
										<label for="nav-res-input" class="nav-res-close"><i
												class="fas fa-xmark"></i></label>
									</div>
									<li class="menu-item-has-children"><a class="active" href="/home/index">Trang
											chủ</a></li>
									<li class="menu-item-has-children"><a href="/home/index#featured">Cửa hàng</a></li>

									<li class="menu-item-has-children"><a href="/contact">
											Liên hệ</a></li>
									<!-- Show user after login -->
									<li class="menu-item-has-children" th:if="${#request.remoteUser}"><a
											class="blog-btn" href="#">Chào mừng: [[${#request.remoteUser}]]<span
												class="menu-expand"><i class="fa fa-angle-down"></i></span></a>
										<ul class="sub_menu pages blog-show">
											<li><a th:href="|/account/info|">Thông tin tài khoản</a></li>
											<li sec:authorize="hasAnyRole('Director','STAFF')"><a
													th:href="@{/admin}">Trang quản lý</a></li>
											<li><a href="/account/Qrcode">Tạo mã QR</a></li>
											<li><a th:href="@{/security/logoff}">Đăng xuất</a></li>
										</ul>
										<input id="user_id" type="hidden" th:value="|${user_id}|"></input>
									</li>
									<!-- Show user after login -->

								</ul>
								<!-- <input id="user_id" type="hidden" th:value="|${user_id}|"></input> -->
							</nav>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<!--main menu start-->
					<div class="main_menu menu_position">
						<nav>
							<ul>
								<li><a class="active" href="/home/index">Trang chủ</a></li>
								<li class="mega_items"><a id="scroll-items" target="product__items" style="cursor: pointer">Cửa hàng</a>
									<!--									<div class="mega_menu">-->
									<!--										<ul class="mega_menu_inner">-->

									<!--											<li><a href="#">other Pages</a>-->
									<!--												<ul>-->
									<!--													<li><a href="cart.html">cart</a></li>-->
									<!--													<li><a href="/product/wish">Wishlist</a></li>-->
									<!--													<li><a href="checkout.html">Checkout</a></li>-->
									<!--													<li><a href="/account/info">my account</a></li>-->
									<!--												</ul></li>-->
									<!--											<li><a href="#">Product Types</a>-->
									<!--												<ul>-->
									<!--													<li><a href="/product/detail">product details</a></li>-->
									<!--													<li><a href="product-sidebar.html">product sidebar</a>-->
									<!--													</li>-->
									<!--													<li><a href="product-grouped.html">product grouped</a>-->
									<!--													</li>-->
									<!--													<li><a href="variable-product.html">product-->
									<!--															variable</a></li>-->

									<!--												</ul></li>-->
									<!--										</ul>-->
									<!--									</div>-->
								</li>

								<li><a href="#">Về chúng tôi<i class="fa fa-angle-down"></i></a>
									<ul class="sub_menu pages">
										<li><a href="about.html">Thông tin</a></li>
										<li><a href="services.html">Dịch vụ</a></li>
										<li><a href="faq.html">FAQs</a></li>

									</ul>
								</li>
								<li><a href="/contact">Liên hệ</a></li>
								<li class="menu-item-has-children" th:if="${#request.remoteUser}">
									<a class="blog-btn" href="#">Chào mừng: [[${#request.remoteUser}]]
										<span class="menu-expand"><i class="fa fa-angle-down"></i></span>
									</a>
									<ul class="sub_menu pages blog-show">
										<li><a th:href="|/account/info|">Thông tin tài khoản</a></li>
										<li sec:authorize="hasAnyRole('Director','STAFF')"><a th:href="@{/admin}">Trang
												quản lý</a></li>
										<li><a href="/account/Qrcode">Tạo mã QR</a></li>
										<li><a th:href="@{/security/logoff}">Đăng xuất</a></li>
									</ul>
								</li>
							</ul>
						</nav>
					</div>
					<!--main menu end-->
				</div>
				<div class="col-lg-3">
					<div class="call-support">

						<p>
							Gọi hỗ trợ: <a href="tel:0903876251">0903876251</a>
						</p>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>